/*
 * Copyright © 2021-2023 Innospots (http://www.innospots.com)
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License. You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

@font-face {
  font-family: 'libra-font'; /* Project id 3165221 */
  src: url('iconfont.woff2?t=1657242116535') format('woff2'),
    url('iconfont.woff?t=1657242116535') format('woff'),
    url('iconfont.ttf?t=1657242116535') format('truetype');
}

.libra-font {
  font-size: 16px;
  font-family: 'libra-font' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.libra-ali-clould-fill:before {
  content: '\e81e';
}

.libra-color-fill:before {
  content: '\e81f';
}

.libra-coupons-fill:before {
  content: '\e820';
}

.libra-cecurity-protection-fill:before {
  content: '\e821';
}

.libra-credit-level-fill:before {
  content: '\e822';
}

.libra-auto:before {
  content: '\e6eb';
}

.libra-default-template-fill:before {
  content: '\e823';
}

.libra-all:before {
  content: '\e6ef';
}

.libra-CurrencyConverter-fill:before {
  content: '\e824';
}

.libra-bussiness-man:before {
  content: '\e6f0';
}

.libra-Customermanagement-fill:before {
  content: '\e825';
}

.libra-component:before {
  content: '\e6f2';
}

.libra-discounts-fill:before {
  content: '\e826';
}

.libra-code:before {
  content: '\e6f3';
}

.libra-Daytimemode-fill:before {
  content: '\e827';
}

.libra-copy:before {
  content: '\e6f4';
}

.libra-exl-fill:before {
  content: '\e828';
}

.libra-dollar:before {
  content: '\e6f5';
}

.libra-cry-fill:before {
  content: '\e829';
}

.libra-history:before {
  content: '\e6f8';
}

.libra-email-fill:before {
  content: '\e82a';
}

.libra-editor:before {
  content: '\e6f6';
}

.libra-filter-fill:before {
  content: '\e82b';
}

.libra-data:before {
  content: '\e6f9';
}

.libra-folder-fill:before {
  content: '\e82c';
}

.libra-gift:before {
  content: '\e6fa';
}

.libra-feeds-fill:before {
  content: '\e82d';
}

.libra-integral:before {
  content: '\e6fb';
}

.libra-gold-supplie-fill:before {
  content: '\e82e';
}

.libra-nav-list:before {
  content: '\e6fd';
}

.libra-form-fill:before {
  content: '\e82f';
}

.libra-pic:before {
  content: '\e6ff';
}

.libra-camera-fill:before {
  content: '\e830';
}

.libra-Notvisible:before {
  content: '\e6fe';
}

.libra-good-fill:before {
  content: '\e831';
}

.libra-play:before {
  content: '\e701';
}

.libra-image-text-fill:before {
  content: '\e832';
}

.libra-rising:before {
  content: '\e703';
}

.libra-inspection-fill:before {
  content: '\e833';
}

.libra-QRcode:before {
  content: '\e704';
}

.libra-hot-fill:before {
  content: '\e834';
}

.libra-rmb:before {
  content: '\e705';
}

.libra-company-fill:before {
  content: '\e835';
}

.libra-similar-product:before {
  content: '\e707';
}

.libra-discount-fill:before {
  content: '\e836';
}

.libra-Exportservices:before {
  content: '\e702';
}

.libra-insurance-fill:before {
  content: '\e837';
}

.libra-sendinquiry:before {
  content: '\e70d';
}

.libra-inquiry-template-fill:before {
  content: '\e838';
}

.libra-all-fill:before {
  content: '\e718';
}

.libra-leftbutton-fill:before {
  content: '\e839';
}

.libra-favorites-fill:before {
  content: '\e721';
}

.libra-integral-fill1:before {
  content: '\e83a';
}

.libra-integral-fill:before {
  content: '\e726';
}

.libra-help1:before {
  content: '\e83b';
}

.libra-namecard-fill:before {
  content: '\e72a';
}

.libra-listing-content-fill:before {
  content: '\e83c';
}

.libra-pic-fill:before {
  content: '\e72e';
}

.libra-logistic-logo-fill:before {
  content: '\e83d';
}

.libra-play-fill:before {
  content: '\e72f';
}

.libra-Moneymanagement-fill:before {
  content: '\e83e';
}

.libra-prompt-fill:before {
  content: '\e730';
}

.libra-manage-order-fill:before {
  content: '\e83f';
}

.libra-stop-fill:before {
  content: '\e738';
}

.libra-multi-language-fill:before {
  content: '\e840';
}

.libra-column:before {
  content: '\e741';
}

.libra-logistics-icon-fill:before {
  content: '\e841';
}

.libra-add-account:before {
  content: '\e742';
}

.libra-Newuserzone-fill:before {
  content: '\e842';
}

.libra-column1:before {
  content: '\e743';
}

.libra-nightmode-fill:before {
  content: '\e843';
}

.libra-add:before {
  content: '\e744';
}

.libra-office-supplies-fill:before {
  content: '\e844';
}

.libra-agriculture:before {
  content: '\e745';
}

.libra-notice-fill:before {
  content: '\e845';
}

.libra-years:before {
  content: '\e746';
}

.libra-mute:before {
  content: '\e846';
}

.libra-add-cart:before {
  content: '\e747';
}

.libra-order-fill:before {
  content: '\e847';
}

.libra-arrow-right:before {
  content: '\e748';
}

.libra-password1:before {
  content: '\e848';
}

.libra-arrow-left:before {
  content: '\e749';
}

.libra-map1:before {
  content: '\e849';
}

.libra-apparel:before {
  content: '\e74a';
}

.libra-paylater-fill:before {
  content: '\e84a';
}

.libra-all1:before {
  content: '\e74b';
}

.libra-phone-fill:before {
  content: '\e84b';
}

.libra-arrow-up:before {
  content: '\e74c';
}

.libra-online-tracking-fill:before {
  content: '\e84c';
}

.libra-ascending:before {
  content: '\e74d';
}

.libra-play-fill1:before {
  content: '\e84d';
}

.libra-ashbin:before {
  content: '\e74e';
}

.libra-pdf-fill:before {
  content: '\e84e';
}

.libra-atm:before {
  content: '\e74f';
}

.libra-phone1:before {
  content: '\e84f';
}

.libra-bad:before {
  content: '\e750';
}

.libra-pin-fill:before {
  content: '\e850';
}

.libra-attachent:before {
  content: '\e751';
}

.libra-product-fill:before {
  content: '\e851';
}

.libra-browse:before {
  content: '\e752';
}

.libra-rankinglist-fill:before {
  content: '\e852';
}

.libra-beauty:before {
  content: '\e753';
}

.libra-reduce-fill:before {
  content: '\e853';
}

.libra-atm-away:before {
  content: '\e754';
}

.libra-reeor-fill:before {
  content: '\e854';
}

.libra-assessed-badge:before {
  content: '\e755';
}

.libra-pic-fill1:before {
  content: '\e855';
}

.libra-auto1:before {
  content: '\e756';
}

.libra-rankinglist:before {
  content: '\e856';
}

.libra-bags:before {
  content: '\e757';
}

.libra-product1:before {
  content: '\e857';
}

.libra-calendar:before {
  content: '\e758';
}

.libra-prompt-fill1:before {
  content: '\e858';
}

.libra-cart-full:before {
  content: '\e759';
}

.libra-resonserate-fill:before {
  content: '\e859';
}

.libra-calculator:before {
  content: '\e75a';
}

.libra-remind-fill:before {
  content: '\e85a';
}

.libra-cameraswitching:before {
  content: '\e75b';
}

.libra-Rightbutton-fill:before {
  content: '\e85b';
}

.libra-cecurity-protection:before {
  content: '\e75c';
}

.libra-RFQ-logo-fill:before {
  content: '\e85c';
}

.libra-category:before {
  content: '\e75d';
}

.libra-RFQ-word-fill:before {
  content: '\e85d';
}

.libra-close:before {
  content: '\e75e';
}

.libra-searchcart-fill:before {
  content: '\e85e';
}

.libra-certified-supplier:before {
  content: '\e75f';
}

.libra-salescenter-fill:before {
  content: '\e85f';
}

.libra-cart-Empty:before {
  content: '\e760';
}

.libra-save-fill:before {
  content: '\e860';
}

.libra-code1:before {
  content: '\e761';
}

.libra-security-fill:before {
  content: '\e861';
}

.libra-color:before {
  content: '\e762';
}

.libra-Similarproducts-fill:before {
  content: '\e862';
}

.libra-conditions:before {
  content: '\e763';
}

.libra-signboard-fill:before {
  content: '\e863';
}

.libra-confirm:before {
  content: '\e764';
}

.libra-service-fill:before {
  content: '\e864';
}

.libra-company:before {
  content: '\e765';
}

.libra-shuffling-banner-fill:before {
  content: '\e865';
}

.libra-ali-clould:before {
  content: '\e766';
}

.libra-supplier-features-fill:before {
  content: '\e866';
}

.libra-copy1:before {
  content: '\e767';
}

.libra-store-fill:before {
  content: '\e867';
}

.libra-credit-level:before {
  content: '\e768';
}

.libra-smile-fill:before {
  content: '\e868';
}

.libra-coupons:before {
  content: '\e769';
}

.libra-success-fill:before {
  content: '\e869';
}

.libra-connections:before {
  content: '\e76a';
}

.libra-sound-filling-fill:before {
  content: '\e86a';
}

.libra-cry:before {
  content: '\e76b';
}

.libra-sound-Mute1:before {
  content: '\e86b';
}

.libra-costoms-alearance:before {
  content: '\e76c';
}

.libra-suspended-fill:before {
  content: '\e86c';
}

.libra-clock:before {
  content: '\e76d';
}

.libra-tool-fill:before {
  content: '\e86d';
}

.libra-CurrencyConverter:before {
  content: '\e76e';
}

.libra-task-management-fill:before {
  content: '\e86e';
}

.libra-cut:before {
  content: '\e76f';
}

.libra-unlock-fill:before {
  content: '\e86f';
}

.libra-data1:before {
  content: '\e770';
}

.libra-trust-fill:before {
  content: '\e870';
}

.libra-Customermanagement:before {
  content: '\e771';
}

.libra-vip-fill:before {
  content: '\e871';
}

.libra-descending:before {
  content: '\e772';
}

.libra-set1:before {
  content: '\e872';
}

.libra-double-arro-right:before {
  content: '\e773';
}

.libra-Top-fill:before {
  content: '\e873';
}

.libra-customization:before {
  content: '\e774';
}

.libra-viewlarger1:before {
  content: '\e874';
}

.libra-double-arrow-left:before {
  content: '\e775';
}

.libra-voice-fill:before {
  content: '\e875';
}

.libra-discount:before {
  content: '\e776';
}

.libra-warning-fill:before {
  content: '\e876';
}

.libra-download:before {
  content: '\e777';
}

.libra-warehouse-fill:before {
  content: '\e877';
}

.libra-dollar1:before {
  content: '\e778';
}

.libra-zip-fill:before {
  content: '\e878';
}

.libra-default-template:before {
  content: '\e779';
}

.libra-trade-assurance-fill:before {
  content: '\e879';
}

.libra-editor1:before {
  content: '\e77a';
}

.libra-vs-fill:before {
  content: '\e87a';
}

.libra-eletrical:before {
  content: '\e77b';
}

.libra-video1:before {
  content: '\e87b';
}

.libra-electronics:before {
  content: '\e77c';
}

.libra-template-fill:before {
  content: '\e87c';
}

.libra-etrical-equipm:before {
  content: '\e77d';
}

.libra-wallet1:before {
  content: '\e87d';
}

.libra-ellipsis:before {
  content: '\e77e';
}

.libra-training1:before {
  content: '\e87e';
}

.libra-email:before {
  content: '\e77f';
}

.libra-packing-labeling-fill:before {
  content: '\e87f';
}

.libra-falling:before {
  content: '\e780';
}

.libra-Exportservices-fill:before {
  content: '\e880';
}

.libra-earth:before {
  content: '\e781';
}

.libra-brand-fill:before {
  content: '\e881';
}

.libra-filter:before {
  content: '\e782';
}

.libra-collection:before {
  content: '\e882';
}

.libra-furniture:before {
  content: '\e783';
}

.libra-consumption-fill:before {
  content: '\e883';
}

.libra-folder:before {
  content: '\e784';
}

.libra-collection-fill:before {
  content: '\e884';
}

.libra-feeds:before {
  content: '\e785';
}

.libra-brand:before {
  content: '\e885';
}

.libra-history1:before {
  content: '\e786';
}

.libra-rejected-order-fill:before {
  content: '\e886';
}

.libra-hardware:before {
  content: '\e787';
}

.libra-homepage-ads-fill:before {
  content: '\e887';
}

.libra-help:before {
  content: '\e788';
}

.libra-homepage-ads:before {
  content: '\e888';
}

.libra-good:before {
  content: '\e789';
}

.libra-scenes-fill:before {
  content: '\e889';
}

.libra-Householdappliances:before {
  content: '\e78a';
}

.libra-scenes:before {
  content: '\e88a';
}

.libra-gift1:before {
  content: '\e78b';
}

.libra-similar-product-fill:before {
  content: '\e88b';
}

.libra-form:before {
  content: '\e78c';
}

.libra-topraning-fill:before {
  content: '\e88c';
}

.libra-image-text:before {
  content: '\e78d';
}

.libra-consumption:before {
  content: '\e88d';
}

.libra-hot:before {
  content: '\e78e';
}

.libra-topraning:before {
  content: '\e88e';
}

.libra-inspection:before {
  content: '\e78f';
}

.libra-gold-supplier:before {
  content: '\e88f';
}

.libra-leftbutton:before {
  content: '\e790';
}

.libra-messagecenter-fill:before {
  content: '\e890';
}

.libra-jewelry:before {
  content: '\e791';
}

.libra-quick:before {
  content: '\e891';
}

.libra-ipad:before {
  content: '\e792';
}

.libra-writing:before {
  content: '\e892';
}

.libra-leftarrow:before {
  content: '\e793';
}

.libra-docjpge-fill:before {
  content: '\e893';
}

.libra-integral1:before {
  content: '\e794';
}

.libra-jpge-fill:before {
  content: '\e894';
}

.libra-kitchen:before {
  content: '\e795';
}

.libra-gifjpge-fill:before {
  content: '\e895';
}

.libra-inquiry-template:before {
  content: '\e796';
}

.libra-bmpjpge-fill:before {
  content: '\e896';
}

.libra-link:before {
  content: '\e797';
}

.libra-tifjpge-fill:before {
  content: '\e897';
}

.libra-libra:before {
  content: '\e798';
}

.libra-pngjpge-fill:before {
  content: '\e898';
}

.libra-loading:before {
  content: '\e799';
}

.libra-Hometextile:before {
  content: '\e899';
}

.libra-listing-content:before {
  content: '\e79a';
}

.libra-home:before {
  content: '\e89a';
}

.libra-lights:before {
  content: '\e79b';
}

.libra-sendinquiry-fill:before {
  content: '\e89b';
}

.libra-logistics-icon:before {
  content: '\e79c';
}

.libra-comments-fill:before {
  content: '\e89c';
}

.libra-messagecenter:before {
  content: '\e79d';
}

.libra-account-fill:before {
  content: '\e89d';
}

.libra-mobile-phone:before {
  content: '\e79e';
}

.libra-feed-logo-fill:before {
  content: '\e89e';
}

.libra-manage-order:before {
  content: '\e79f';
}

.libra-feed-logo:before {
  content: '\e89f';
}

.libra-move:before {
  content: '\e7a0';
}

.libra-home-fill:before {
  content: '\e8a0';
}

.libra-Moneymanagement:before {
  content: '\e7a1';
}

.libra-add-select:before {
  content: '\e8a1';
}

.libra-namecard:before {
  content: '\e7a2';
}

.libra-sami-select:before {
  content: '\e8a2';
}

.libra-map:before {
  content: '\e7a3';
}

.libra-camera:before {
  content: '\e8a3';
}

.libra-Newuserzone:before {
  content: '\e7a4';
}

.libra-arrow-down:before {
  content: '\e8a4';
}

.libra-multi-language:before {
  content: '\e7a5';
}

.libra-account:before {
  content: '\e8a5';
}

.libra-office:before {
  content: '\e7a6';
}

.libra-comments:before {
  content: '\e8a6';
}

.libra-notice:before {
  content: '\e7a7';
}

.libra-cart-Empty1:before {
  content: '\e8a7';
}

.libra-ontimeshipment:before {
  content: '\e7a8';
}

.libra-favorites:before {
  content: '\e8a8';
}

.libra-office-supplies:before {
  content: '\e7a9';
}

.libra-order:before {
  content: '\e8a9';
}

.libra-password:before {
  content: '\e7aa';
}

.libra-search:before {
  content: '\e8aa';
}

.libra-Notvisible1:before {
  content: '\e7ab';
}

.libra-trade-assurance:before {
  content: '\e8ab';
}

.libra-operation:before {
  content: '\e7ac';
}

.libra-usercenter1:before {
  content: '\e8ac';
}

.libra-packaging:before {
  content: '\e7ad';
}

.libra-tradingdata:before {
  content: '\e8ad';
}

.libra-online-tracking:before {
  content: '\e7ae';
}

.libra-microphone:before {
  content: '\e8ae';
}

.libra-packing-labeling:before {
  content: '\e7af';
}

.libra-txt:before {
  content: '\e8af';
}

.libra-phone:before {
  content: '\e7b0';
}

.libra-xlsx:before {
  content: '\e8b0';
}

.libra-pic1:before {
  content: '\e7b1';
}

.libra-banzhengfuwu:before {
  content: '\e8b1';
}

.libra-pin:before {
  content: '\e7b2';
}

.libra-cangku:before {
  content: '\e8b2';
}

.libra-play1:before {
  content: '\e7b3';
}

.libra-daibancaishui:before {
  content: '\e8b3';
}

.libra-logistic-logo:before {
  content: '\e7b4';
}

.libra-jizhuangxiang:before {
  content: '\e8b4';
}

.libra-print:before {
  content: '\e7b5';
}

.libra-jiaobiao:before {
  content: '\e8b5';
}

.libra-product:before {
  content: '\e7b6';
}

.libra-kehupandian:before {
  content: '\e8b6';
}

.libra-machinery:before {
  content: '\e7b7';
}

.libra-dongtai:before {
  content: '\e8b7';
}

.libra-process:before {
  content: '\e7b8';
}

.libra-daikuan:before {
  content: '\e8b8';
}

.libra-prompt:before {
  content: '\e7b9';
}

.libra-shengyijing:before {
  content: '\e8b9';
}

.libra-QRcode1:before {
  content: '\e7ba';
}

.libra-jiehui:before {
  content: '\e8ba';
}

.libra-reeor:before {
  content: '\e7bb';
}

.libra-fencengpeizhi:before {
  content: '\e8bb';
}

.libra-reduce:before {
  content: '\e7bc';
}

.libra-shenqingjilu:before {
  content: '\e8bc';
}

.libra-Non-staplefood:before {
  content: '\e7bd';
}

.libra-shangchuanbeiandanzheng:before {
  content: '\e8bd';
}

.libra-rejected-order:before {
  content: '\e7be';
}

.libra-shangchuan:before {
  content: '\e8be';
}

.libra-resonserate:before {
  content: '\e7bf';
}

.libra-kehuquanyi:before {
  content: '\e8bf';
}

.libra-remind:before {
  content: '\e7c0';
}

.libra-suoxiao:before {
  content: '\e8c0';
}

.libra-responsetime:before {
  content: '\e7c1';
}

.libra-quanyipeizhi:before {
  content: '\e8c1';
}

.libra-return:before {
  content: '\e7c2';
}

.libra-shuangshen:before {
  content: '\e8c2';
}

.libra-paylater:before {
  content: '\e7c3';
}

.libra-tongguan:before {
  content: '\e8c3';
}

.libra-rising1:before {
  content: '\e7c4';
}

.libra-tuishui:before {
  content: '\e8c4';
}

.libra-Rightarrow:before {
  content: '\e7c5';
}

.libra-tongguanshuju:before {
  content: '\e8c5';
}

.libra-rmb1:before {
  content: '\e7c6';
}

.libra-kuaidiwuliu:before {
  content: '\e8c6';
}

.libra-RFQ-logo:before {
  content: '\e7c7';
}

.libra-wuliuchanpin:before {
  content: '\e8c7';
}

.libra-save:before {
  content: '\e7c8';
}

.libra-waihuishuju:before {
  content: '\e8c8';
}

.libra-scanning:before {
  content: '\e7c9';
}

.libra-xinxibar_shouji:before {
  content: '\e8c9';
}

.libra-security:before {
  content: '\e7ca';
}

.libra-xinwaizongyewu:before {
  content: '\e8ca';
}

.libra-salescenter:before {
  content: '\e7cb';
}

.libra-wuliudingdan:before {
  content: '\e8cb';
}

.libra-seleted:before {
  content: '\e7cc';
}

.libra-zhongjianren:before {
  content: '\e8cc';
}

.libra-searchcart:before {
  content: '\e7cd';
}

.libra-xinxibar_zhanghu:before {
  content: '\e8cd';
}

.libra-raw:before {
  content: '\e7ce';
}

.libra-yidatong:before {
  content: '\e8ce';
}

.libra-service:before {
  content: '\e7cf';
}

.libra-zhuanyequanwei:before {
  content: '\e8cf';
}

.libra-share:before {
  content: '\e7d0';
}

.libra-zhanghucaozuo:before {
  content: '\e8d0';
}

.libra-signboard:before {
  content: '\e7d1';
}

.libra-xuanzhuandu:before {
  content: '\e8d1';
}

.libra-shuffling-banner:before {
  content: '\e7d2';
}

.libra-tuishuirongzi:before {
  content: '\e8d2';
}

.libra-Rightbutton:before {
  content: '\e7d3';
}

.libra-AddProducts:before {
  content: '\e8d3';
}

.libra-sorting:before {
  content: '\e7d4';
}

.libra-ziyingyewu:before {
  content: '\e8d4';
}

.libra-sound-Mute:before {
  content: '\e7d5';
}

.libra-addcell:before {
  content: '\e8d5';
}

.libra-Similarproducts:before {
  content: '\e7d6';
}

.libra-background-color:before {
  content: '\e8d6';
}

.libra-sound-filling:before {
  content: '\e7d7';
}

.libra-cascades:before {
  content: '\e8d7';
}

.libra-suggest:before {
  content: '\e7d8';
}

.libra-beijing:before {
  content: '\e8d8';
}

.libra-stop:before {
  content: '\e7d9';
}

.libra-bold:before {
  content: '\e8d9';
}

.libra-success:before {
  content: '\e7da';
}

.libra-zijin:before {
  content: '\e8da';
}

.libra-supplier-features:before {
  content: '\e7db';
}

.libra-eraser:before {
  content: '\e8db';
}

.libra-switch:before {
  content: '\e7dc';
}

.libra-centeralignment:before {
  content: '\e8dc';
}

.libra-survey:before {
  content: '\e7dd';
}

.libra-click:before {
  content: '\e8dd';
}

.libra-template:before {
  content: '\e7de';
}

.libra-aspjiesuan:before {
  content: '\e8de';
}

.libra-text:before {
  content: '\e7df';
}

.libra-flag:before {
  content: '\e8df';
}

.libra-suspended:before {
  content: '\e7e0';
}

.libra-falg-fill:before {
  content: '\e8e0';
}

.libra-task-management:before {
  content: '\e7e1';
}

.libra-Fee:before {
  content: '\e8e1';
}

.libra-tool:before {
  content: '\e7e2';
}

.libra-filling:before {
  content: '\e8e2';
}

.libra-Top:before {
  content: '\e7e3';
}

.libra-Foreigncurrency:before {
  content: '\e8e3';
}

.libra-smile:before {
  content: '\e7e4';
}

.libra-guanliyuan:before {
  content: '\e8e4';
}

.libra-textile-products:before {
  content: '\e7e5';
}

.libra-language:before {
  content: '\e8e5';
}

.libra-tradealert:before {
  content: '\e7e6';
}

.libra-leftalignment:before {
  content: '\e8e6';
}

.libra-topsales:before {
  content: '\e7e7';
}

.libra-extra-inquiries:before {
  content: '\e8e7';
}

.libra-tradingvolume:before {
  content: '\e7e8';
}

.libra-Italic:before {
  content: '\e8e8';
}

.libra-training:before {
  content: '\e7e9';
}

.libra-pcm:before {
  content: '\e8e9';
}

.libra-upload:before {
  content: '\e7ea';
}

.libra-reducecell:before {
  content: '\e8ea';
}

.libra-RFQ-word:before {
  content: '\e7eb';
}

.libra-rightalignment:before {
  content: '\e8eb';
}

.libra-viewlarger:before {
  content: '\e7ec';
}

.libra-pointerleft:before {
  content: '\e8ec';
}

.libra-viewgallery:before {
  content: '\e7ed';
}

.libra-subscript:before {
  content: '\e8ed';
}

.libra-vehivles:before {
  content: '\e7ee';
}

.libra-square:before {
  content: '\e8ee';
}

.libra-trust:before {
  content: '\e7ef';
}

.libra-superscript:before {
  content: '\e8ef';
}

.libra-warning:before {
  content: '\e7f0';
}

.libra-tag-subscript:before {
  content: '\e8f0';
}

.libra-warehouse:before {
  content: '\e7f1';
}

.libra-danjuzhuanhuan:before {
  content: '\e8f1';
}

.libra-shoes:before {
  content: '\e7f2';
}

.libra-Transfermoney:before {
  content: '\e8f2';
}

.libra-video:before {
  content: '\e7f3';
}

.libra-under-line:before {
  content: '\e8f3';
}

.libra-viewlist:before {
  content: '\e7f4';
}

.libra-xiakuangxian:before {
  content: '\e8f4';
}

.libra-set:before {
  content: '\e7f5';
}

.libra-shouqi:before {
  content: '\e8f5';
}

.libra-store:before {
  content: '\e7f6';
}

.libra-zhankai:before {
  content: '\e8f6';
}

.libra-tool-hardware:before {
  content: '\e7f7';
}

.libra-tongxunlu:before {
  content: '\e8f7';
}

.libra-vs:before {
  content: '\e7f8';
}

.libra-yiguanzhugongyingshang:before {
  content: '\e8f8';
}

.libra-toy:before {
  content: '\e7f9';
}

.libra-goumaipianhao:before {
  content: '\e8f9';
}

.libra-sport:before {
  content: '\e7fa';
}

.libra-Subscribe:before {
  content: '\e8fa';
}

.libra-creditcard:before {
  content: '\e7fb';
}

.libra-becomeagoldsupplier:before {
  content: '\e8fb';
}

.libra-contacts:before {
  content: '\e7fc';
}

.libra-new:before {
  content: '\e8fc';
}

.libra-checkstand:before {
  content: '\e7fd';
}

.libra-free:before {
  content: '\e8fd';
}

.libra-aviation:before {
  content: '\e7fe';
}

.libra-cad-fill:before {
  content: '\e8fe';
}

.libra-Daytimemode:before {
  content: '\e7ff';
}

.libra-robot:before {
  content: '\e8ff';
}

.libra-infantmom:before {
  content: '\e800';
}

.libra-inspection1:before {
  content: '\e900';
}

.libra-discounts:before {
  content: '\e801';
}

.libra-block:before {
  content: '\e901';
}

.libra-invoice:before {
  content: '\e802';
}

.libra-shouhuoicon:before {
  content: '\e902';
}

.libra-insurance:before {
  content: '\e803';
}

.libra-nightmode:before {
  content: '\e804';
}

.libra-usercenter:before {
  content: '\e805';
}

.libra-unlock:before {
  content: '\e806';
}

.libra-vip:before {
  content: '\e807';
}

.libra-wallet:before {
  content: '\e808';
}

.libra-landtransportation:before {
  content: '\e809';
}

.libra-voice:before {
  content: '\e80a';
}

.libra-exchangerate:before {
  content: '\e80b';
}

.libra-contacts-fill:before {
  content: '\e80c';
}

.libra-add-account1:before {
  content: '\e80d';
}

.libra-years-fill:before {
  content: '\e80e';
}

.libra-add-cart-fill:before {
  content: '\e80f';
}

.libra-add-fill:before {
  content: '\e810';
}

.libra-all-fill1:before {
  content: '\e811';
}

.libra-ashbin-fill:before {
  content: '\e812';
}

.libra-calendar-fill:before {
  content: '\e813';
}

.libra-bad-fill:before {
  content: '\e814';
}

.libra-bussiness-man-fill:before {
  content: '\e815';
}

.libra-atm-fill:before {
  content: '\e816';
}

.libra-cart-full-fill:before {
  content: '\e817';
}

.libra-cart-Empty-fill:before {
  content: '\e818';
}

.libra-cameraswitching-fill:before {
  content: '\e819';
}

.libra-atm-away-fill:before {
  content: '\e81a';
}

.libra-certified-supplier-fill:before {
  content: '\e81b';
}

.libra-calculator-fill:before {
  content: '\e81c';
}

.libra-clock-fill:before {
  content: '\e81d';
}
